---
import Layout from '@layouts/Layout.astro'
import Card from '@components/Card.astro'
---

<Layout title="Welcome to Astro.">
	<main>
		<h1>Why& How2 <span class="text-gradient">Lint like a PRO</span></h1>
		<p class="instructions">
			"Avoid stress with <a href="https://developerexperience.io/articles/linting">Linter</a>! Let it analyze your code
			and find bugs and stylistic errors. Linter should be your best friend."
		</p>
		<ul role="list" class="link-card-grid">
			<Card
				href="https://eslint.org/docs/latest/user-guide/configuring/configuration-files-new"
				title="ESLint"
				body="Find and fix problems in your JavaScript code."
			/>
			<Card href="https://prettier.io/docs/en/options.html" title="Prettier" body="Opinionated code formatter." />
			<Card
				href="https://stylelint.io/user-guide/ignore-code/"
				title="Stylelint"
				body="Explore a galaxy of community-built starter themes."
			/>
			<Card
				href="https://eslint.org/docs/latest/user-guide/configuring/configuration-files-new"
				title="Editorconfig"
				body="Find and fix problems in your JavaScript code."
			/>
		</ul>
		<p class="instructions">
			📚
			<a href="https://medium.com/tbc-engineering/why-and-how-to-lint-like-a-pro-173fc4a73899">
				Learn more about the implementation of this stack
			</a>
		</p>
	</main>
</Layout>

<style lang="scss">
	@import '../styles/vars';

	h1 {
		font-family: $font-stack;
		font-size: 4rem;
		font-weight: 900;
		line-height: 1;
		margin: 0;
	}

	a {
		color: red;
		font-weight: bold;
	}

	.instructions {
		background-color: black;
		line-height: 1.6;
		color: greenyellow;
		margin: 1rem 0;
		border: 4px solid white;
		box-shadow: white;
		padding: 1rem 2rem;
		border-radius: 1rem;
		border-color: white;
		transform: translateX(-2rem);
	}

	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}

	.instructions strong {
		color: rgb(var(--accent));
	}
</style>
